# Python specific files
__pycache__/
*.pyc
venv/

# Styles generated with Sass
*.css
css/
.sass-cache

# Project security files
.env

# IDE's and other configs
prepros.config

# Other project files
other/
