@use "sass:color";
@use "variables" as *;
@use "functions" as *;


* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  background-color: $color-background;
}

.container {
  margin-top: 50px;
  text-align: center;

  color: $color-text;
  font-family: "Pixeboy";
}

#header {
  font-size: 110px;
  text-shadow: stroke(2px, $color-text-border);
}

#grid {
  display: grid;
  grid-template-columns: 30% 10%;
  justify-content: center;

  margin-top: 50px;
  font-family: "Lato";
  font-size: 40px;
}

.nick, .score {
  margin-top: 20px;
  font-weight: bold;
  text-shadow: stroke(3px, $color-background);
}

.place-1 {
  color: $color-gold;
}

.place-2 {
  color: $color-silver;
}

.place-3 {
  color: $color-bronze;
}

.dropdown {
  text-align: right;
  position: fixed;
  bottom: 5px;
  right: 5px;
  color: $color-text-border;
  font-family: Lato;
  font-weight: bold;
}

.dropdown-btn {
  padding: 5px;
  cursor: pointer;
  text-shadow: stroke(2px, $color-background);
}

.dropdown-content {
  display: none;
  z-index: 1;
}

.dropdown-content a {
  padding: 5px;
  text-decoration: none;
  display: block;
  color: color.adjust($color-text-border, $blackness: 60%);
  text-shadow: stroke(2px, $color-background);
}

.dropdown-content a:hover {
  color: $color-text-border;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media (max-width: 1120px) and (min-width: 721px) {
  #grid {
    font-size: 30px;
    grid-template-columns: 40% 13%;
  }
}

@media (max-width: 720px) and (min-width: 491px) {
  #header {
    font-size: 90px;
  }

  #grid {
    font-size: 20px;
    grid-template-columns: 45% 10%;
  }

  .nick, .score {
    text-shadow: stroke(2px, $color-background);
  }
}

@media (max-width: 490px) {
  #header {
    font-size: 70px;
  }

  #grid {
    font-size: 20px;
    grid-template-columns: 60% 30%;
  }

  .nick, .score {
    text-shadow: stroke(1px, $color-background);
  }
}
