@use "variables" as *;
@use "functions" as *;


* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  background-color: $color-background;
}

.container {
  margin-top: 50px;
  text-align: center;

  color: $color-text;
  text-shadow: stroke(2px, $color-text-border);
  font-family: "Pixeboy";
}

.player {
  margin-top: -3px;
  text-shadow: stroke(1px, $color-text-border);
}

#rating {
  margin-top: 50px;
  font-family: "Lato";
  font-size: 45px;
}

.container>h1 {
  font-size: 110px;
}

@media (max-width: 720px) {
  .container>h1 {
    font-size: 80px;
  }

  #rating {
    font-size: 25px;
  }
}
